<div class="row">
  <div class="col-sm-4">
    <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,f_auto,h_900,q_80,w_1200/v1/221498/Screenshot2_byzged.png" height="600" alt="...">
  </div>
  <div class="col-sm-8">
    <center>
      <div style="margin-top:100px">
        <h1 style="font-size:65px"> Just Because It’s Healthcare Doesn’t Mean It’s Good for You </h1><br>
        <h4 style="font-size:25px"> Sign up to learn more about using Quizzify: </h4>
          <form class="form-inline" action="/users" method="POST">
            <div class="form-group">
              <label for="exampleInputName2">Name</label>
              <input type="text" name="name" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail2">Email</label>
              <input type="email" name="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
    </center>
  </div>
</div>
