<h2>Compare the Differences between Quizzify and Conventional Wellness</h2><br>

<table class="table table-striped table-bordered">
  <tr>
    <th>Issue</th>
    <th>Wellness program approach</th> 
    <th>Quizzify approach and guarantee</th>
  </tr>
  <tr>
    <td>Philosophy</td>
    <td>Employees don’t get enough medical care, so employers can save money by encouraging, paying, and/or requiring employees to get more.</td> 
    <td>Many employees get too much medical care already.  The best approach is to help them learn how to pursue healthcare interventions only if and when appropriate</td>
  </tr>
  <tr>
    <td>Cost Savings Target</td>
    <td>Avoiding wellness-sensitive medicalevents (WSMEs), which account for <a href="https://dismgmt.files.wordpress.com/2014/10/official-govt-data-on-wsmes-in-private-sector.png" target="_blank">less than 4%</a> of your spending, most of which is not avoidable.  (Wellness vendors can’t save money on non-wellness-related medical care at all.)</td> 
    <td>Reducing waste and overuse, which account for <a href="http://healthaffairs.org/healthpolicybriefs/brief_pdfs/healthpolicybrief_82.pdf" target="_blank">about a third</a> of your spending…and also reducing WSMEs by more than a wellness program would</td>
  </tr>
  <tr>
    <td>Perceived invasion of employee privacy by asking intrusive questions, weighing them etc.</td>
    <td>Explain that no one is supposed to see the results.</td> 
    <td>Don’t ask personal questions or weigh people.</td>
  </tr>
  <tr>
    <td>Employees lying on health risk assessments, losing respect for your organization</td>
    <td>Conveying to them the importance of telling the truth</td> 
    <td>Don’t put them in a position where they need to lie</td>
  </tr>
  <tr>
    <td>Compliance with <a href="http://www.uspreventiveservicestaskforce.org/Page/Name/recommendations" target="_blank">official</a> screening guidelines</td>
    <td>Don’t comply with guidelines.  (Vendors need to screen employees annually in order to make a profit.  Guidelines recommend far less frequent screening in order to avoid overdiagnosis and hazardous and expensive overtreatment.)</td> 
    <td>Teach employees how to comply with guidelines to keep themselves healthy without undue risk of overtreatment.</td>
  </tr>
  <tr>
    <td>Requiring and storing personal health information (PHI)</td>
    <td>Assure employees their information is safe, spend a lot of money (reflected in their price to you) for HIPAA compliance</td> 
    <td>Don’t require PHI…or even employee names</td>
  </tr>
  <tr>
    <td>Employee resentment and morale damage</td>
    <td>Recommend communications plan about how these programs will make employees happy whether they like it or not (ok, we’re exaggerating, but it’s a good line)</td> 
    <td>Create a program that’s fun and educational, and guarantee engagement and satisfaction</td>
  </tr>
  <tr>
    <td>Measure outcomes</td>
    <td>Compare participants to non-participants, even though that methodology is proven invalid</td> 
    <td>Obtain <a href="www.validationinstitute.com" target="_blank">www.validationinstitute.com</a> Gold Standard validation</td>
  </tr>
  <tr>
    <td>EEOC lawsuit concerns</td>
    <td>None</td> 
    <td>EEOC lawsuit concerns None Fees guaranteed 10-to-1 that you will not lose an EEOC wellness lawsuit</td>
  </tr>
  <tr>
    <td>Save money</td>
    <td>Not without <a href="http://healthaffairs.org/blog/2014/11/25/workplace-wellness-produces-no-savings/" target="_blank">making up</a> the methodology</td> 
    <td>Guaranteed, using valid methodology</td>
  </tr>
  <tr>
    <td>Reduce the likelihood of overtreatment (30% of American healthcare spending is wasted)</td>
    <td>Require screenings and physician visits regardless of need… <a href="http://thehealthcareblog.com/blog/2013/11/07/hyperdiagnosis-the-wellness-industry-doubles-down-on-overdiagnosis/" target="_blank">bragging</a> about how many risk factors they find and leading many employees into the “treatment trap.”</td> 
    <td>Educate employees that “just because it’s heathcare doesn’t mean it’s good for you.”</td>
  </tr>
</table>
